.box{
    width: 100px;
    height: 100px;
    background-color: #afa;
    border-radius: 20px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: #faf;
    border-radius: 10px 20px 30px 40px;
}